<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Alabama</key>
    <dict>
        <key>state</key>
        <string>Alabama</string>
        <key>abbreviation</key>
        <string>AL</string>
    </dict>
    <key>Alaska</key>
    <dict>
        <key>state</key>
        <string>Alaska</string>
        <key>abbreviation</key>
        <string>AK</string>
    </dict>
    <key>Arizona</key>
    <dict>
        <key>state</key>
        <string>Arizona</string>
        <key>abbreviation</key>
        <string>AZ</string>
    </dict>
    <key>Arkansas</key>
    <dict>
        <key>state</key>
        <string>Arkansas</string>
        <key>abbreviation</key>
        <string>AR</string>
    </dict>
    <key>California</key>
    <dict>
        <key>state</key>
        <string>California</string>
        <key>abbreviation</key>
        <string>CA</string>
    </dict>
    <key>Colorado</key>
    <dict>
        <key>state</key>
        <string>Colorado</string>
        <key>abbreviation</key>
        <string>CO</string>
    </dict>
    <key>Connecticut</key>
    <dict>
        <key>state</key>
        <string>Connecticut</string>
        <key>abbreviation</key>
        <string>CT</string>
    </dict>
    <key>Delaware</key>
    <dict>
        <key>state</key>
        <string>Delaware</string>
        <key>abbreviation</key>
        <string>DE</string>
    </dict>
    <key>Florida</key>
    <dict>
        <key>state</key>
        <string>Florida</string>
        <key>abbreviation</key>
        <string>FL</string>
    </dict>
    <key>Georgia</key>
    <dict>
        <key>state</key>
        <string>Georgia</string>
        <key>abbreviation</key>
        <string>GA</string>
    </dict>
    <key>Hawaii</key>
    <dict>
        <key>state</key>
        <string>Hawaii</string>
        <key>abbreviation</key>
        <string>HI</string>
    </dict>
    <key>Idaho</key>
    <dict>
        <key>state</key>
        <string>Idaho</string>
        <key>abbreviation</key>
        <string>ID</string>
    </dict>
    <key>Illinois</key>
    <dict>
        <key>state</key>
        <string>Illinois</string>
        <key>abbreviation</key>
        <string>IL</string>
    </dict>
    <key>Indiana</key>
    <dict>
        <key>state</key>
        <string>Indiana</string>
        <key>abbreviation</key>
        <string>IN</string>
    </dict>
    <key>Iowa</key>
    <dict>
        <key>state</key>
        <string>Iowa</string>
        <key>abbreviation</key>
        <string>IA</string>
    </dict>
    <key>Kansas</key>
    <dict>
        <key>state</key>
        <string>Kansas</string>
        <key>abbreviation</key>
        <string>KS</string>
    </dict>
    <key>Kentucky</key>
    <dict>
        <key>state</key>
        <string>Kentucky</string>
        <key>abbreviation</key>
        <string>KY</string>
    </dict>
    <key>Louisiana</key>
    <dict>
        <key>state</key>
        <string>Louisiana</string>
        <key>abbreviation</key>
        <string>LA</string>
    </dict>
    <key>Maine</key>
    <dict>
        <key>state</key>
        <string>Maine</string>
        <key>abbreviation</key>
        <string>ME</string>
    </dict>
    <key>Maryland</key>
    <dict>
        <key>state</key>
        <string>Maryland</string>
        <key>abbreviation</key>
        <string>MD</string>
    </dict>
    <key>Massachusetts</key>
    <dict>
        <key>state</key>
        <string>Massachusetts</string>
        <key>abbreviation</key>
        <string>MA</string>
    </dict>
    <key>Michigan</key>
    <dict>
        <key>state</key>
        <string>Michigan</string>
        <key>abbreviation</key>
        <string>MI</string>
    </dict>
    <key>Minnesota</key>
    <dict>
        <key>state</key>
        <string>Minnesota</string>
        <key>abbreviation</key>
        <string>MN</string>
    </dict>
    <key>Mississippi</key>
    <dict>
        <key>state</key>
        <string>Mississippi</string>
        <key>abbreviation</key>
        <string>MS</string>
    </dict>
    <key>Missouri</key>
    <dict>
        <key>state</key>
        <string>Missouri</string>
        <key>abbreviation</key>
        <string>MO</string>
    </dict>
    <key>Montana</key>
    <dict>
        <key>state</key>
        <string>Montana</string>
        <key>abbreviation</key>
        <string>MT</string>
    </dict>
    <key>Nebraska</key>
    <dict>
        <key>state</key>
        <string>Nebraska</string>
        <key>abbreviation</key>
        <string>NE</string>
    </dict>
    <key>Nevada</key>
    <dict>
        <key>state</key>
        <string>Nevada</string>
        <key>abbreviation</key>
        <string>NV</string>
    </dict>
    <key>New Hampshire</key>
    <dict>
        <key>state</key>
        <string>New Hampshire</string>
        <key>abbreviation</key>
        <string>NH</string>
    </dict>
    <key>New Jersey</key>
    <dict>
        <key>state</key>
        <string>New Jersey</string>
        <key>abbreviation</key>
        <string>NJ</string>
    </dict>
    <key>New Mexico</key>
    <dict>
        <key>state</key>
        <string>New Mexico</string>
        <key>abbreviation</key>
        <string>NM</string>
    </dict>
    <key>New York</key>
    <dict>
        <key>state</key>
        <string>New York</string>
        <key>abbreviation</key>
        <string>NY</string>
    </dict>
    <key>North Carolina</key>
    <dict>
        <key>state</key>
        <string>North Carolina</string>
        <key>abbreviation</key>
        <string>NC</string>
    </dict>
    <key>North Dakota</key>
    <dict>
        <key>state</key>
        <string>North Dakota</string>
        <key>abbreviation</key>
        <string>ND</string>
    </dict>
    <key>Ohio</key>
    <dict>
        <key>state</key>
        <string>Ohio</string>
        <key>abbreviation</key>
        <string>OH</string>
    </dict>
    <key>Oklahoma</key>
    <dict>
        <key>state</key>
        <string>Oklahoma</string>
        <key>abbreviation</key>
        <string>OK</string>
    </dict>
    <key>Oregon</key>
    <dict>
        <key>state</key>
        <string>Oregon</string>
        <key>abbreviation</key>
        <string>OR</string>
    </dict>
    <key>Pennsylvania</key>
    <dict>
        <key>state</key>
        <string>Pennsylvania</string>
        <key>abbreviation</key>
        <string>PA</string>
    </dict>
    <key>Rhode Island</key>
    <dict>
        <key>state</key>
        <string>Rhode Island</string>
        <key>abbreviation</key>
        <string>RI</string>
    </dict>
    <key>South Carolina</key>
    <dict>
        <key>state</key>
        <string>South Carolina</string>
        <key>abbreviation</key>
        <string>SC</string>
    </dict>
    <key>South Dakota</key>
    <dict>
        <key>state</key>
        <string>South Dakota</string>
        <key>abbreviation</key>
        <string>SD</string>
    </dict>
    <key>Tennessee</key>
    <dict>
        <key>state</key>
        <string>Tennessee</string>
        <key>abbreviation</key>
        <string>TN</string>
    </dict>
    <key>Texas</key>
    <dict>
        <key>state</key>
        <string>Texas</string>
        <key>abbreviation</key>
        <string>TX</string>
    </dict>
    <key>Utah</key>
    <dict>
        <key>state</key>
        <string>Utah</string>
        <key>abbreviation</key>
        <string>UT</string>
    </dict>
    <key>Vermont</key>
    <dict>
        <key>state</key>
        <string>Vermont</string>
        <key>abbreviation</key>
        <string>VT</string>
    </dict>
    <key>Virginia</key>
    <dict>
        <key>state</key>
        <string>Virginia</string>
        <key>abbreviation</key>
        <string>VA</string>
    </dict>
    <key>Washington</key>
    <dict>
        <key>state</key>
        <string>Washington</string>
        <key>abbreviation</key>
        <string>WA</string>
    </dict>
    <key>West Virginia</key>
    <dict>
        <key>state</key>
        <string>West Virginia</string>
        <key>abbreviation</key>
        <string>WV</string>
    </dict>
    <key>Wisconsin</key>
    <dict>
        <key>state</key>
        <string>Wisconsin</string>
        <key>abbreviation</key>
        <string>WI</string>
    </dict>
    <key>Wyoming</key>
    <dict>
        <key>state</key>
        <string>Wyoming</string>
        <key>abbreviation</key>
        <string>WY</string>
    </dict>
</dict>
</plist>
